<div class="section">
  {{#Front}}
    <div>{{Front}}</div>
  {{/Front}}
  {{#ClozeFront}}
    <div class="mbooks-highlight-txt" >{{cloze:ClozeFront}}</div>
  {{/ClozeFront}}
  {{#TextFront}}
    <div class="mbooks-highlight-txt" >{{TextFront}}</div>
  {{/TextFront}}
</div>