<div class="section">
  {{#Front}}
    <div>{{Front}}</div>
    <div class="mbooks-highlight-txt" >{{cloze:ClozeFront}}</div>
    {{#Back}}
      <div>{{Back}}</div>
    {{/Back}}
    {{#TextBack}}
      <div class="mbooks-highlight-txt" >
        {{TextBack}}
      </div>
    {{/TextBack}}
  {{/Front}}

  {{^Front}}
    {{#ClozeFront}}
      <div class="mbooks-highlight-txt" >
        {{cloze:ClozeFront}}
      </div>
    {{/ClozeFront}}
    {{#TextBack}}
      <div class="mbooks-highlight-txt" >
        {{TextBack}}
      </div>
    {{/TextBack}}
    {{#Back}}
      <div>{{Back}}</div>
    {{/Back}}
  {{/Front}}
</div>

{{#MNLink}}
  <div class="section">
    {{MNLink}}
  </div>
{{/MNLink}}
{{#MNMindMap}}
  <div class="section">
    {{MNMindMap}}
  </div>
{{/MNMindMap}}