<div class="section">
  <div>{{Front}}</div>
  {{#Back}}
    <div>{{Back}}</div>
  {{/Back}}
  {{#TextBack}}
    <div class="mbooks-highlight-txt">
      {{TextBack}}
    </div>
  {{/TextBack}}
</div>

{{#MNLink}}
  <div class="section">
    {{MNLink}}
  </div>
{{/MNLink}}
{{#MNMindMap}}
  <div class="section">
    {{MNMindMap}}
  </div>
{{/MNMindMap}}